.Image{
    outline: 1px solid black;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 800px;
    max-width: 700px;
    background-color: antiquewhite;
    z-index: 1000;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7rem;
}
.disable{
    display: none;
}

.modal_contain{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.085);
}

.modal_containOff{
    display: none;
}

.imgModal{
    width: 100%;
    height: 90%;
    object-fit: cover;
}