.search_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.search_input{
    width: 100%;
    height: 30px;
    outline: none;
}